<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Workout Tracker</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
		{{!-- <link rel="stylesheet" href="/assets/css/burger_styles.css" type="text/css" /> --}}

	</head>
	<body>
		<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
		<a href="/add" class="navbar-item">
        Add a workout
      </a>

		<a href="/edit" class="navbar-item">
        Edit a workout
      </a>

		<a href="/all" class="navbar-item">
        View all workouts
      </a>
    </div>

    <div class="navbar-end">
		<a href="/about" class="navbar-item">
			About
      </a>
    </div>
  </div>

</nav>
        

		{{{ body }}}
				<script src="https://code.jquery.com/jquery.js"></script>
				<script src="frontend.js"></script>
				
	</body>
</html>
