<h1 class="title is-2">Enter the name of your workout plan:</h1>

<div class="columns">
    <div class="column is-one-third">
<form>
    <label for="workoutName">Name:</label>
    <input class="input" type="text" id="workoutTitle" name="workoutName">
    <button id="newWorkout" class="button is-success" type="submit">Submit</button>
</form>
</div>
</div>