<div id="test">
</div>

<div class="columns">
    <div class="column is-half">
<form>
    <textarea class="textarea" type="text" id="workoutActivities" name="workoutExercises"></textarea>
    <button id="newActivities" class="button is-success" type="submit">Submit</button>
</form>
</div>
</div>

