<h1 class="title is-1">Current plans:</h1>

{{#each names}}
<div class="column is-half">
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      {{name}}
    </p>
    <a  id="{{name}}"class="card-header-icon">
      Edit
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.

      <br>
    </div>
  </div>
</div>
</div>

{{/each}}

